body {
  background-color: #e4eaf2;
}

#container {
  width: 1502px;
  margin-left: auto;
  margin-right: auto;
  height: 1500px;
}

#logo {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #8b8c8f;
  color: black;
  margin-top: 20px;
  font-size: 44px;
  letter-spacing: 3px;
  font-weight: 900;
  top: 0;
  z-index: 3;
  border-radius: 20px;
  border: 1px solid #595a5c;
}

#menu {
  background-color: #d3d7de;
  margin-top: 20px;
  color: #ffffff;
  padding-bottom: 14px;
  padding-top: 8px;
  padding-left: 22px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  height: 55px;
  border-radius: 17px;
  border: 1px solid #8b8c8f;
  
}

#topbar {
  background-color: #d3d7de;
  color: white;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 170px;
  width: 1480px;
  border-radius: 17px;
  border: 1px solid #8b8c8f;
}

#topbarL {
  float: left;
  padding: 20px;
  width: 212px;
  text-align: center;
  transition: 1s;
}

#topbarL:hover {
  transition: 1s;
  transform: scale(1.3, 1.3);
}

#topbarR {
  border-left: 1px solid #8b8c8f;
  float: left;
  padding: 20px;
  width: 1187px;
  font-size: 20px;
  text-align: justify;
  color: black;
  height: 140px;
  font-family: 'Montserrat', sans-serif;
}

#sidebar {
  background-color: #d3d7de;
  float: left;
  width: 222px;
  min-height: 620px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-left: 1px solid #8b8c8f;
  border-bottom: 1px solid #8b8c8f;
  border-top: 1px solid #8b8c8f;
}

#content {
  color: black;
  float: left;
  padding: 40px;
  width: 1156.89px;
  background-color: #d3d7de;
  min-height: 580px;
  text-align: justify;
  font-size: 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #8b8c8f;
  border-top: 1px solid #8b8c8f;
  border-left: 1px solid #8b8c8f;
  border-right: 1px solid #8b8c8f;
  font-family: 'Montserrat', sans-serif;
}

#footer {
  clear: both;
  color: #000000;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

/* Guziki na górze */
.option {
  transition: 0.5s;
  text-align: center;
  background-color: #d3d7de;
  float: left;
  color: black;
  min-width: 180px;
  height: 40px;
  font-size: 25.5px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 31px;
  border-right: 1px solid #8b8c8f;
  border-top: 1px solid #8b8c8f;
  border-bottom: 1px solid #8b8c8f;
  border-left: 1px solid #8b8c8f;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  /* opacity: 0.8; */
}

/* Guziki na górze */
.option:hover {
  transition: 0.5s;
  cursor: grab;
  background-color: #d3d7de;
  box-shadow: 0 0 40px #000000;
  border-width: 1px;
  transform: scale(1.05, 1.05);
  border-radius: 15px;
  border: 1px solid #8b8c8f;
  margin-left: 1px;
  z-index:3;
}

/* Guziki na górze */
.option:active {
  background-color: #FF193C;
  user-select: none;
  cursor: grabbing;
  box-shadow: 2px 8px 40px #FF193C;
  border-radius: 15px;
  margin-left: 1px;
}

/* Guzik "Strona główna" po lewo */
.optionL {
  font-size: 20px;
  cursor: grab;
  transition: 0.5s;
  background-color: #d3d7de;
  height: 25px;
  padding-bottom: 38px;
  padding-top: 38px;
  border: 1px solid #8b8c8f;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

/* Guzik "Strona główna" po lewo */
.optionL:hover {
  transition: 0.5s;
  cursor: grab;
  background-color: #d3d7de;
  box-shadow: 2px 8px 40px #000000;
  transform: scale(1.05, 1.05);
  z-index:3;
}

/* Guzik "Strona główna" po lewo */
.optionL:active {
  background-color: #FF193C;
  user-select: none;
  cursor: grabbing;
  box-shadow: 2px 8px 40px #FF193C;
}

/* Duży nagłówek */
.bigtitle {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

/* Guziki po lewej */
.optionL_M {
  transition: 0.5s;
  font-size: 20px;
  background-color: #d3d7de;
  height: 25px;
  padding-bottom: 38px;
  padding-top: 38px;
  border-bottom: 1px solid #8b8c8f;
  border-right: 1px solid #8b8c8f;
  border-left: 1px solid #8b8c8f;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

/* Guziki po lewej */
.optionL_M:hover {
  transition: 0.5s;
  cursus: grab;
  background-color: #d3d7de;
  box-shadow: 2px 8px 40px #000000;
  border-width: 1px;
  transform: scale(1.05, 1.05);
}

/* Guziki  po lewej */
.optionL_M:active {
  background-color: #FF193C;
  user-select: none;
  cursor: grabbing;
  box-shadow:2px 8px 40px #FF193C;
}

/* Guzik "Strona główna" na górze */
.optionM {
  float: left;
  background-color: #d3d7de;
  cursor: grab;
  transition: 0.5s;
  color: black;
  min-width: 180px;
  height: 40px;
  font-size: 25.5px;
  padding-left: 30px;
  border-right: 1px solid #8b8c8f;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* opacity: 0.8; */
  border-left: 1px solid #8b8c8f;
  border-top: 1px solid #8b8c8f;
  border-bottom: 1px solid #8b8c8f;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

/* Guzik "Strona główna" na górze */
.optionM:hover {
  cursor: grab;
  background-color: #d3d7de;
  box-shadow: 2px 8px 40px #000000;
  transition: 0.5s;
  border: 1px solid #8b8c8f;
  transform: scale(1.05, 1.05);
}

/* Guzik "Strona główna" na górze  */
.optionM:active {
  cursor: grabbing;
  background-color: #FF193C;
  user-select: none;
  box-shadow: 2px 8px 40px #FF193C;
}

/* Naprawa progress baru, żeby  */
.header {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 1500px;
  background-color: #f1f1f1;
  border-radius: 1px;
}

/* Tło progress baru */
.progress-container {
  width: 1500px;
  height: 3px;
  background: white;
  border-radius: 1px;
}

/* Progress bar */
.progress-bar {
  height: 3px;
  background: #FF193C;
  width: 0%;
  border-radius: 1px;
}
a:link{
  color: #000000;
  text-decoration: none;
}
a:visited{
  color: #000000;
  text-decoration: none;
}
a:hover{
  color: #000000;
  text-decoration: none;
}
a:active{
  color: #000000;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b8c8f;; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8c8f; 
}
.maptxt
{
float:left;
width: 575px;
height: 234px;
padding-top: 14px;
padding-left: 28px;
padding-right: 28px;
padding-bottom: 4px;
font-size: 30px;
}
.mapimg
{
float:left;
min-width: 408px;
min-height: 250px;
}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6 {display: none}
img {vertical-align: middle;}

.slideshow-container {
    width:300px;
    height: 440px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
